@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap');
body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: stretch;
    width: 100%;
}

input {
    font-family: "Roboto";
    width: 100%;
    padding: 0.3vw 0.4vw;
    font-size: 1.2vw;
    background-size: 1.5vw;
    background-image: url("https://www.freepngimg.com/download/world_wide_web/62434-engine-web-search-wordpress.com-icons-wallpaper-desktop.png");
    background-repeat: no-repeat;
    background-position: 99% center;
    border: solid 2px;
    border-width: 0 0 2px 0;
    border-color: #999999;
    margin: 2vw 2vw 2vw 0;
}

.Logo {
    margin: 1vw;
    width: 5vw;
}

.ResultCol {
    display: flex;
    flex-direction: column;
    flex: 50% 2 2;
}

.Stats {
    flex: 50% 2 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: red;
}

.URL {
    font-family: "Source Code Pro";
    color: #569700;
    font-weight: 600;
    text-decoration: underline;
    margin: 0.2vw 0;
}

a {
    text-decoration: none;
}

.Title {
    margin: 0.4vw 0;
    font-size: 1.6vw;
    color: #006b9d;
    font-family: "Roboto";
    font-weight: 500;
    text-decoration: none;
}

.Title:hover,
.URL:hover {
    filter: brightness(1.1) saturate(1.4);
}

.Desc {
    margin: 0.2vw 0;
    font-family: 'Comfortaa';
    font-size: 0.9vw;
    color: #777777;
    font-weight: 500;
}

.aResult {
    margin: 1vw;
}

#num_results {
    margin: 0.4vw 0;
    font-size: 1.0vw;
    color: #006b9d;
    font-family: "Roboto";
    font-weight: 500;
    text-decoration: none;
}

.Radios {
    display: flex;
    flex-direction: row;
}