*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.midColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    background-color: antiquewhite;
}


.midColumn form{
}

.midColumn form div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    -webkit-transition: 0.05s;
    transition: 0.05s;
    text-decoration: none;
    color: white;
  }
  
  a:hover {
    color: #4b90f7;
    filter: brightness(0.9) saturate(1.2);
  }
input[type="text"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}
input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

